<div class="section">
<div class="section2" fxLayout="row" fxLayout.xs="column">
    <div class="w-100" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="row" fxLayoutGap="2vw">
        <div> <img class="icons" src="../../assets/icons/Groupe101.svg" alt="groupe101"></div>
        <div fxLayout="column" fxLayoutAlign="center">
          <p class="number">82</p>
          <p class="name">Happy clients</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="2vw">
        <div><img class="icons" src="../../assets/icons/Groupe102.svg" alt="groupe102"></div>
        <div fxLayout="column" fxLayoutAlign="center">
          <p class="number">102</p>
          <p class="name">Finished projects</p>
        </div>
      </div>
    </div>
    <div class="w-100" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="row" fxLayoutGap="2vw">
        <div> <img class="icons" src="../../assets/icons/Groupe100.svg" alt="groupe100"></div>
        <div fxLayout="column" fxLayoutAlign="center">
          <p class="number">24</p>
          <p class="name">Skilled experts</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="2vw">
        <div> <img class="icons" src="../../assets/icons/Groupe103.svg" alt="groupe103"></div>
        <div fxLayout="column" fxLayoutAlign="center">
          <p class="number">1032</p>
          <p class="name">Media posts</p>
        </div>
      </div>
    </div>
  </div>
  </div>