.section {
    margin-bottom: 3vw;
    margin-top : 3vw;
    margin-left: 10%;
    margin-right: 10%;
  
    .section3 {
      width: 90% !important;
      margin: 0 auto;
      z-index: 9;
      .icons{
        width: 5vw;
        height: 5vw;
        margin-top:1vw
      }
    }
  }
  