
    <section class="section" fxLayout="column" fxLayoutAlign="center">
        <div class="section3">
          <h1>Our Values</h1>
  
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10vw">
            <div fxLayout="column" fxLayoutGap="5vw">
  
              <div fxLayout="row" fxLayoutGap="2vw">
                <div>
                  <img class="icons" src="../../assets/icons/Groupe 88.svg" alt="">
                </div>
                <div fxLayout="column">
                  <h2>Lorem Lorem</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates minus sunt, nulla omnis porro
                    laboriosam earum in debitis labore beatae libero deserunt dolores sit eum dignissimos expedita impedit
                    quos incidunt.</p>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="2vw">
                <div>
                  <img class="icons" src="../../assets/icons/Groupe 88.svg" alt="">
                </div>
                <div fxLayout="column">
                  <h2>Lorem Lorem</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates minus sunt, nulla omnis porro
                    laboriosam earum in debitis labore beatae libero deserunt dolores sit eum dignissimos expedita impedit
                    quos incidunt.</p>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxLayoutGap="5vw">
              <div fxLayout="row" fxLayoutGap="2vw">
                <div>
                  <img class="icons" src="../../assets/icons/Groupe 88.svg" alt="">
                </div>
                <div fxLayout="column">
                  <h2>Lorem Lorem</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates minus sunt, nulla omnis porro
                    laboriosam earum in debitis labore beatae libero deserunt dolores sit eum dignissimos expedita impedit
                    quos incidunt.</p>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="2vw">
                <div>
                  <img class="icons" src="../../assets/icons/Groupe 88.svg" alt="">
                </div>
                <div fxLayout="column">
                  <h2>Lorem Lorem</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates minus sunt, nulla omnis porro
                    laboriosam earum in debitis labore beatae libero deserunt dolores sit eum dignissimos expedita impedit
                    quos incidunt.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
