.section {
  background-color: #000733;
  padding:3vw;
}
img {
  width: 7vw;
  height: 7vw;
}
.clients {
margin-bottom: 6vw;
margin-top: 2vw;}
h3{     color: #619EF5!important;
    font-family: Mont-65Md,sans-serif!important;
}
h2{
color: #FFFFFF;
font-family: Mont-65Md,sans-serif!important;


}
