<section class="section">
  <div class="section3" fxLayout="column" fxLayoutAlign="center" >
    <h4 class="text-center">Case studies</h4>
    <h2 class="text-center">case studies</h2>
    <div fxLayout="row" fxlayout.sm="column" fxlayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="3vw">
        <div class="container_foto">
          <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
          <article>
            <h3>
              Lorem Lorem Lorem
            </h3>
          </article>
          <div class="ver_mas">
            <p class="lnr lnr-eye" [fxHide.xs]="true">
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, harum natus. Blanditiis corporis soluta, to Tempore reiciendis exercitationem nobis minima.
            </p>
            <a href="">
              Read more
            </a>
          </div>

        </div>
        <div class="container_foto">
          <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
          <article>
            <h3>
              Lorem Lorem Lorem
            </h3>
          </article>
          <div class="ver_mas">
            <p class="lnr lnr-eye">
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, harum natus. Blanditiis corporis soluta, to Tempore reiciendis exercitationem nobis minima.
            </p>
            <a href="">
              Read more
            </a>
          </div>

        </div>
        <div class="container_foto">
          <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
          <article>
            <h3>
              Lorem Lorem Lorem
            </h3>
          </article>
          <div class="ver_mas">
            <p class="lnr lnr-eye">
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, harum natus. Blanditiis corporis soluta, to Tempore reiciendis exercitationem nobis minima.
            </p>
            <a href="">
              Read more
            </a>
          </div>

        </div>
        <div class="container_foto">
          <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
          <article>
            <h3>
              Lorem Lorem Lorem
            </h3>
          </article>
          <div class="ver_mas">
            <p class="lnr lnr-eye">
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, harum natus. Blanditiis corporis soluta, to Tempore reiciendis exercitationem nobis minima.
            </p>
            <a href="">
              Read more
            </a>
          </div>

        </div>

      </div>
    </div>
</section>
