  <section class="section" fxLayout="column" fxLayoutAlign="center">
    <div class="section4">
      <h1>How we work</h1>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.5vw" fxLayoutAlign="space-between">
        <div class="w-100" fxLayout="column" fxLayoutGap="2vw">
          <div fxLayoutAlign="start"> <img class="icons" src="../../assets/icons/Groupe101.svg" alt="groupe101"></div>
          <p class="title">1. Choose a service</p>
          <p>Choose your future idea with us based our guide price ,We perform an initial evaluation of the project
            right after receiving your first mail .</p>
        </div>
        <div fxLayout="column" fxLayoutGap="2vw">
          <div class="w-100" fxLayoutAlign="start"> <img class="icons" src="../../assets/icons/Groupe 88.svg" alt="groupe101"></div>
          <p class="title">2. Request a meeting</p>
          <p>we’ll invite you over a cup of tea or a Skype call. The CEO and CTO personally lead each new customer to
            make sure that our cooperation is effective and successful in the long term.</p>
        </div>
        <div class="w-100" fxLayout="column" fxLayoutGap="2vw">
          <div fxLayoutAlign="start"> <img class="icons" src="../../assets/icons/Groupe101.svg" alt="groupe101"></div>
          <p class="title">3. Receive custom plan</p>
          <p>we’ll invite you over a cup of tea or a Skype call. The CEO and CTO personally lead each new customer to
            make sure that our cooperation is effective and successful in the long term.</p>
        </div>
        <div class="w-100" fxLayout="column" fxLayoutGap="2vw">
          <div fxLayoutAlign="start"> <img class="icons" src="../../assets/icons/Groupe101.svg" alt="groupe101"></div>
          <p class="title">4. Let's make it happen</p>
          <p>we choose specific technologies that match the project needs. then we schedule milestones and final goals
            and make a timetable.</p>
        </div>
      </div>
    </div>
  </section>
