<section class="section" fxLayout="column" fxLayoutAlign="center">
    <div class="section1">
      <div class="router" fxLayout="row" fxLayoutGap="1vw" [fxHide.xs]="true">
        <a [routerLink]="['']">Home</a>
        <mat-icon>arrow_forward</mat-icon>
        <p style="color: #619EF5;">About us</p>
      </div>
      <h1>Who we are</h1>
      <p> Animi ullam ratione eos quia voluptatibus odio eaque, nesciunt modi deserunt ut error aperiam? Explicabo
        doloribus blanditiis odio, corporis possimus ab fuga. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Alias similique dolor magni voluptatibus nisi nobis fugiat possimus in. Accusamus expedita consequuntur vitae
        adipisci animi laboriosam sit soluta eaque porro dolorum!</p>
      <p> Quidem voluptates saepe, error, illo itaque voluptas veritatis labore quos eius aliquam sint nemo quod
        doloribus incidunt vero minus cumque atque qui? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
        dolores iure magni impedit ratione ex possimus? Nesciunt odio, nostrum, sint numquam maxime blanditiis, nobis
        adipisci facere vel est explicabo expedita!</p>
      <p>Ex rerum molestias repellendus ad quae officia reiciendis quas reprehenderit qui natus recusandae quod nam
        doloribus, laborum magnam. Voluptatibus, sit? Laboriosam, autem. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Culpa cumque officia autem dicta assumenda doloribus facilis incidunt, ipsa dolorum quibusdam
        rerum. Quae nemo ipsam sequi impedit earum eligendi explicabo. Expedita?</p>
    </div> 
</section>
