<section class="services" fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center space-around">
    <div fxLayout="column" fxLayoutAlign="center center">
    <h3>Our Services</h3>
    <h2>Why Choose us</h2>
</div>
    <div class="w-100" fxLayout="row" fxLayoutGap="25px">
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar  style="background-image: url('../../assets/icons/Groupe122.svg');" class="example-header-image"></div>

            <mat-card-title>
                UI/UX
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar style="background-image: url('../../assets/icons/Groupe126.svg');" class="example-header-image"></div>

            <mat-card-title>
                Web Development
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar style="background-image: url('../../assets/icons/Groupe124.svg');" class="example-header-image"></div>

            <mat-card-title>
                Video Editing
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar style="background-image: url('../../assets/icons/Groupe117.svg');" class="example-header-image"></div>

            <mat-card-title>
                Mobile Development
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar style="background-image: url('../../assets/icons/Groupe127.svg');" class="example-header-image"></div>

            <mat-card-title>
                Fintech
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
    </div>
    <div class="w-100" fxLayout="row" fxLayoutGap="25px">
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar style="background-image: url('../../assets/icons/Groupe120.svg');" class="example-header-image"></div>

            <mat-card-title>
                Game Development
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar style="background-image: url('../../assets/icons/Groupe125.svg');"class="example-header-image"></div>

            <mat-card-title>
                XR Development
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar style="background-image: url('../../assets/icons/Groupe121.svg');" class="example-header-image"></div>

            <mat-card-title>
                Social Media Management
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar  style="background-image: url('../../assets/icons/Groupe119.svg');"class="example-header-image"></div>

            <mat-card-title>
                Digital Management </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-header>
                    <div mat-card-avatar  style="background-image: url('../../assets/icons/Groupe128.svg');" class="example-header-image"></div>

            <mat-card-title>
                Software Development </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos velit sit, atque doloribus
                consectetur illum obcaecati pariatur provident aliquid repudiandae molestias quas quam placeat sunt! Et
                voluptas ducimus corporis.
            </mat-card-content>
            
        </mat-card>
    </div>


</section>