<section class="section" fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center space-around">
  <div class="section5" fxLayout="column" fxLayoutAlign="center center">
    <h1>Our team</h1>
    <div class="w-100" style="margin-top:5vw;" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2vw">
      <div class="w-100">
        <div fxLayoutAlign="center center">
          <img class="team" src="../../assets/user2.jpg">
        </div>
        <h3>Mohamed KHABIR</h3>
        <h5>Chief Executive officer</h5>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1.5vw">
          <img class="icons" src="../../assets/icons/010-linkedin.svg" alt="">
          <img class="icons" src="../../assets/icons/001-facebook.svg" alt="">
          <img class="icons" src="../../assets/icons/002-twitter.svg" alt="">
        </div>
      </div>
      <div class="w-100">
        <div fxLayoutAlign="center center">
          <img class="team" src="../../assets/user3.jpg">
        </div>
        <h3>Mohamed KHABIR</h3>
        <h5>Chief Executive officer</h5>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1.5vw">
          <img class="icons" src="../../assets/icons/010-linkedin.svg" alt="">
          <img class="icons" src="../../assets/icons/001-facebook.svg" alt="">
          <img class="icons" src="../../assets/icons/002-twitter.svg" alt="">
        </div>
      </div>
      <div class="w-100">
        <div fxLayoutAlign="center center">
          <img class="team" src="../../assets/user4.jpg">
        </div>
        <h3>Mohamed KHABIR</h3>
        <h5>Chief Executive officer</h5>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1.5vw">
          <img class="icons" src="../../assets/icons/010-linkedin.svg" alt="">
          <img class="icons" src="../../assets/icons/001-facebook.svg" alt="">
          <img class="icons" src="../../assets/icons/002-twitter.svg" alt="">
        </div>
      </div>
      <div class="w-100">
        <div fxLayoutAlign="center center">  
        <img fxLayoutAlign="center center" class="team" src="../../assets/user5.jpg">
        </div>
        <h3>Mohamed KHABIR</h3>
        <h5>Chief Executive officer</h5>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1.5vw">
          <img class="icons" src="../../assets/icons/010-linkedin.svg" alt="">
          <img class="icons" src="../../assets/icons/001-facebook.svg" alt="">
          <img class="icons" src="../../assets/icons/002-twitter.svg" alt="">
        </div>
      </div>
      <div class="w-100">
        <div fxLayoutAlign="center center">
            <img fxLayoutAlign="center center" class="team" src="../../assets/user1.jpg">
            </div>
        <h3>Mohamed KHABIR</h3>
        <h5>Chief Executive officer</h5>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1.5vw">
          <img class="icons" src="../../assets/icons/010-linkedin.svg" alt="">
          <img class="icons" src="../../assets/icons/001-facebook.svg" alt="">
          <img class="icons" src="../../assets/icons/002-twitter.svg" alt="">
        </div>
      </div>

    </div>
  </div>
</section>
