<section class="home" fxLayoutAlign="center">
    <div class="section1">
      <div class="info">
        <p>Optimize IT Systems</p>
        <h1>Creating a better IT solutions</h1>
        <a>Affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do
          in listening.</a>
        <div class="footerInfo">
        <button>About us</button>
          <a><p>Visit CamelSoft Entertainment</p><img src="assets/icons/arrow-right.4.png"></a>
        </div>
      </div>
    </div>
    <div class="section2">
      <img class="groupe49" src="assets/icons/Groupe 49.svg">
    </div>
  </section>
  