<img class="groupe43" src="../../assets/assest/images/Groupe 43.png" alt="Groupe 43">
<!-- <img class="trace512" src="../../assets/assest/images/Tracé 512.png" alt="Tracé 512"> -->
<!-- <img class="trace919" src="../../assets/assest/images/Tracé 919.png" alt="Tracé 919"> 
<img class="trace920" src="../../assets/assest/images/Tracé 920.png" alt="Tracé 920"> -->
<img class="groupe49" src="../../assets/assest/icons/Groupe 49.svg" alt="Groupe 49">
<img class="trace513" src="../../assets/assest/images/Tracé 513.png" alt="Tracé 513">
