.groupe43{
margin-top: 85px;
margin-left: 192px;
width: 233px;
height: 53px;
}

.groupe49{
margin-top: 255px;
margin-left: 795px;
width: 1115px;
height: 711px;
}
/* .trace512{
    margin-top: -529.8538208007812px;
    margin-left: -651.0576171875px;
    opacity: .495;
    width: 791px;
    height: 791px;
} */
.trace513{
    margin-top: -529.8538208007812px;
    margin-left: -651.0576171875px;
    width: 1433px;
    height: 1433px;
}